# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node 
node_modules/

# Python 
__pycache__/
*.pyc
venv/

# Editor
.vscode/
.idea/

# Env / secrets
.env

# Mac extra
.AppleDouble
.LSOverride

# Windows
Desktop.ini

# Logs advanced
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs 
dist/
build/